*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-tomato: hsl(4, 100%, 67%);
    --color-dark-grey: hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey:  hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
    --font-roboto: 'Roboto', serif;
}

body {
    font-family: var(--font-roboto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 375px;
    height: 100%;
    background-color: var(--color-charcoal-grey);
}

.sign-up, .sign-up-success {
    max-width: 375px;
    background-color: var(--color-white);
    min-height: 100vh;
}

.sign-up-body {
    padding: 12px;
    justify-content: space-between;
}

h1 {
    color: var(--color-dark-grey);
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    padding: 12px 0px;
}

p {
    color: var(--color-charcoal-grey);
    font: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

li {
    list-style: none;
    color: var(--color-charcoal-grey);
    font: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

.email {
    color: var(--color-dark-grey);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.hidden {
    display: none !important;
}